@use "/src/scss/null";
@use "/src/scss/variable" as *;
@use "/src/scss/mixin" as *;

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: #938383;
}
.buttons{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  gap: 30px;
  display: flex;
  
}
button{
  background: #000;
  padding: 20px 40px;

border-radius: 50%;
}